.authorization{
    position: fixed;
    min-width: 20rem;
    width: 80%;
    max-width: 500px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    margin: 0 auto;
    padding: 30px 4%;
    border-radius: 20px;
    background: var(--aquamarine-medium);
    text-align: center;
    animation-name: opacity;
    animation-duration:2s;}
.authorization input{
    width: 80%;
    color: var(--green-dark);
    border: none;
    text-align: center;
    font-weight: 600;
    transition: .4s linear;}
.authorization input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px var(--aquamarine-medium) !important;}
.authorization input:-webkit-autofill {
    -webkit-text-fill-color: var(--green-dark);}
.authorization button{
    margin: auto;
    color: var(--black-white);
    background-color: var(--green-swampy);
    user-select:none;}
.authorization button:hover, button:focus{
    background-color: var(--aquamarine-light);}
.authorization input::placeholder{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: var(--gainsboro)}
#btnRegistration{
    position: relative;
    top: -22px;
    margin: auto;
    padding:10px 38px;
    background: var(--aquamarine-dark);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: default;}
#resetPassword{
    position: relative;
    bottom: -27px;
    width: max-content;
    margin: auto;
    padding: 5px 12px;
    background: var(--aquamarine-dark);
    color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor: default;
    user-select: none;}
:is(#btnRegistration, #resetPassword){
    color: var(--truly-black);
    text-transform: uppercase;
    cursor: default;
    user-select:none;}
#authorizationError{
    position: absolute;
    top: -5rem;
    right: 0;
    left: 0;
    margin: auto;
    padding: .5rem;
    border-radius: 1rem;
    font-size: 19px;
    width: max-content;
    min-width: 17rem;
    background: var(--pink-medium);
    animation-name: opacity;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    user-select: none;}
.authorization .invalid{color:var(--red-medium)}
.authorization .prompt{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-10rem);
    width: max-content;
    max-width: 20rem;
    background: var(--aquamarine-dark-glass);
    color: var(--green-dark);
    font-size:1.1rem;
    padding: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    user-select: none;}
@media not all and (min-resolution:.001dpcm) { @media {
    .authorization .prompt{background: var(--aquamarine-light);}
}}
@-moz-document url-prefix() {
    .authorization .prompt{background: var(--aquamarine-light);}}