<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{#if catalogPage}}<link rel="stylesheet" media="screen and (max-device-width:650px)" href="/mobile/catalog/catalogMobile.css">{{/if}}
    {{#if productPage}}<link rel="stylesheet" media="screen and (max-device-width:650px)" href="/mobile/catalog/productMobil.css">{{/if}}
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/animations.css">
    <link rel="stylesheet" href="/navbar/navbar.css">
    <link rel="stylesheet" href="/theme/auto.css" id="colorTheme">
    {{#if start}}
        <link rel="stylesheet" href="/start/start.css">{{/if}}
    {{#if catalogPage}}
        <link rel="stylesheet" href="/catalog/catalog.css">
        <link rel="stylesheet" href="/brand/brand.css">
        <link rel="stylesheet" href="/catalog/filtredProduct.css">{{/if}}
    {{#if productPage}}
        <link rel="stylesheet" href="/product/product.css">
        <link rel="stylesheet" href="/comment/comment.css">
        <link rel="stylesheet" href="/product/shop.css">
        <link rel="stylesheet" href="/catalog/filtredProduct.css">
        <link rel="stylesheet" href="/product/recall.css">
        <link rel="stylesheet" href="/product/characteristics.css">{{/if}}
    {{#if commentPage}}
        <link rel="stylesheet" href="/comment/comment.css">
        <link rel="stylesheet" href="/product/product.css">
        <link rel="stylesheet" href="/comment/comment.css">{{/if}}
    {{#if brandPage}}
        <link rel="stylesheet" href="/brand/brand.css">
        <link rel="stylesheet" href="/start/start.css">{{/if}}
    {{#if authorization}}
        <link rel="stylesheet" href="/authorization/authorization.css">{{/if}}
    {{#if reviews}}
        <link rel="stylesheet" href="/reviews/reviews.css">
        <link rel="stylesheet" href="/product/recall.css">{{/if}}
    {{#if favorites}}
        <link rel="stylesheet" href="/catalog/filtredProduct.css">
        <link rel="stylesheet" href="/catalog/tableProducts.css">
        <link rel="stylesheet" href="/brand/brand.css">{{/if}}
    {{#if comparison}}
        <link rel="stylesheet" href="/slider/comparison.css">
        <link rel="stylesheet" href="/slider/slider.css">
        <link rel="stylesheet" href="/catalog/tableProducts.css">
        <link rel="stylesheet" href="/start/start.css">{{/if}}
    {{#if basket}}
        <link rel="stylesheet" href="/basket/basket.css">{{/if}}
    {{#if privateOffice}}
        <link rel="stylesheet" href="/account/account.css">
        <link rel="stylesheet" href="/orders/orders.css">{{/if}}
</head>