<nav>
    <div class="nav-wrapper" style="padding: 0 20px; background: #929292">
        <a href="/" class="brand-logo">New Market</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {{>navbar_logics}}
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo" style= "background: #929292">
    {{>navbar_logics}}
</ul>