<li {{#if catalog}}class="activeMy"{{/if}}><a href="catalog.html">каталог</a></li>
<li {{#if liked}}class="activeMy"{{/if}}><a href="liked.html">Избранные</a></li>
<li {{#if basket}}class="activeMy"{{/if}}><a href="basket.html">Корзина</a></li>
<li {{#if account}}class="activeMy"{{/if}}><a href="account.html">Профиль</a></li>