<li {{#if catalog}}class="activeMy"{{/if}}><a href="/catalog">каталог</a></li>
<li {{#if liked}}class="activeMy"{{/if}}><a href="/liked">Избранные</a></li>
<li {{#if basket}}class="activeMy"{{/if}}><a href="/basket">Корзина</a></li>
<li {{#if account}}class="activeMy"{{/if}}><a href="/account">Профиль</a></li>