.tableBasket td{
    color:#393e46;
    font-size: 16px;
    font-weight: 500;}
.tableBasket td:first-child{text-align: center}
.tableBasket a{color:#393e46}
.tableBasket .clear{
    border-radius: 50%;
    transition: .4s linear;}
.tableBasket .clear:hover{
    background: rgba(255, 66, 66, 0.8);
    transition: .4s linear;
    cursor: pointer;}
.quantity{
    user-select: none;
    font-size: 18px;
    margin: auto;
    width: max-content;
    border: 1px solid rgba(100,100,100,0.2);
    border-radius: 15px;}
.tableBasket tr:hover .quantity{border: 1px solid #d7d7d7;}
.quantity span{
    font-weight: 700;
    margin: 10px;
    border: 0;
    background: none;
    border-radius: 15px;}
.basketPrice{
    margin: 30px auto;
    padding: 15px;
    border-radius: 17px;
    border:1px solid rgba(177, 177, 177, 0.2);
    width: max-content;
    text-align: center;
    font-size: 18px;
    transition: .4s linear;}
.tableBasket tr:hover td, .basketPrice:hover{
    background: #ededed;
    transition: .4s linear;}
.basketPrice button{
    margin-top: 10px;
    background: #bbbfca;
    color: #000000;
    border-radius: 10px;
    user-select: none;}
.basketPrice button:hover{
    background: #828491;
    color: #fff;}