.persanalInfo{text-align: center;}
.persanalInfo .editAccount{
    position: relative;
    top: 20px;
    left: 45%;
    font-size: 30px;
    border-radius: 5px;
    cursor: default;}
.photoAccount{
    width: 150px;
    height: 180px;
    margin: -20px auto 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--zircon);
    user-select: none;}
.photoAccount img{
    width: 100%;
    height: auto;}
.infoAccount{
    text-align: center;
    font-weight: 100;
    width: max-content;
    margin: auto;
    user-select: none;}
.exitAccount{
    margin: 20px auto 0;
    width: max-content;}
.exitAccount a{
    color: var(--slateGray-dark);
    background: var(--indigo-light);
    font-size: 24px;
    font-weight: 100;
    border-radius: 10px;
    padding: 3px 8px;}
.exitAccount a:hover, .editAccount:hover, .orders:hover{
    background: var(--yellow-light);
    box-shadow: 0 0 3rem var(--yellow-light);
    transition: .4s linear;}
.listOrders{
    display: flex;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 1.5rem;
    margin: 0 auto;
    padding-top: 2rem;
    overflow: auto;}
.ordersProduct{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: var(--charcoal);
    color: var(--quartz);}
.nameProduct{
    color: var(--black-white);
    font-weight: 700;}
.nameSeller{
    color: var(--quartz);
    transition: .5s linear;}
.nameSeller:hover{
    color: var(--black-white);
    transition: .5s linear;}