<div class="authorization">
    {{#if login}}
        <div id="login" style="display: block;">
            <form action="/authorization/login" method="post">
                {{>authorization/login}}
            </form>
        </div>
    {{/if}}
    {{#if registration}}
        <div id="registration">
            <form action="/authorization/registration" method="post">
                {{>authorization/registration}}
            </form>
        </div>
    {{/if}}
    {{#if resetAccount}}
        <div id="reset">
            <form action="/authorization/resetAccount" method="post">
                {{>authorization/resetAccount}}
            </form>
        </div>
    {{/if}}
    {{#if newPassword}}
        <div id="newPassword">
            <form action="/authorization/password" method="post">
                {{>authorization/newPassword}}
            </form>
        </div>
    {{/if}}
</div>
<script src="/authorization/validation.js"></script>