<h3 class="left-align" >Корзина покупок</h3>
<div class="displayFormat">
    {{>basket/tableBasket}}
    <div class="basketPrice">
        <div>В корзине <b>{{sizeBasket}}</b> продкутво</div>
        <div>Сумма <b class="price">{{sumPrise}}</b></div>
        <a href="/"><button class="btn">Оплатить</button></a>
    </div>
</div>

