{{#if brandPage}}
    <div class="noDataBlock">
        <div class="cartIsEmpty">Этот раздел магазина находится на разработке.</div>
        <i class="material-icons cartIsEmpty" style="font-size: 4rem;margin-left: 0;">build</i>
    </div>
{{else}}
<div class="brandLogo flexCenter">
    <img src="{{brand.photoURL}}" alt="">
</div>
<div class="brandTypes">
    {{>start/topics}}
</div>
<h4>Товары бренда {{brand.name}}</h4>
{{>catalog/productGrid}}
<div>
    <h3>Смотрите также</h3>
    {{>start/brands}}
</div>
{{/if}}