<div class="brandLogo">
    <img src="{{brand.photoURL}}" alt="">
</div>
<div class="brandTypes">
    {{>start/topics}}
</div>
<h4>Товары бренда {{brand.name}}</h4>
{{>catalog/productGrid}}
<div>
    <h3>Смотрите также</h3>
    {{>start/brands}}
</div>