<div class="commentProduct">
    <h4 style="color:{{product.colorBackground}}">{{product.nameProduct}}</h4>
    {{>product/shortProductDescription}}
    <h5 style="color:{{product.colorBackground}}">Ваш отзыв</h5>
</div>
<div class="commentInput">
    {{>comment/commentInput}}
</div>
