<div class="commentProduct">
    {{>product/shortProductDescription}}
    <h5 style="color:{{product.colorBackground}}">Ваш отзыв</h5>
</div>
<div class="commentInput">
    {{>comment/commentInput}}
</div>
