{{>catalog/productType}}
<div class="comparison">
    <div class="comparisonProduct comparisonOne">
        {{>comparison/slider slider="one" slideIndex=1 sum=5}}
    </div>
    <div class="comparisonProduct comparisonTwo">
        {{>comparison/slider slider="two" slideIndex=2}}
    </div>
</div>
