<div style="min-height:90vh;height: max-content;">
    <h4 style="color:{{product.colorBackground}}">{{product.nameProduct}}</h4>
{{>product/shortProductDescription}}</div>
{{>product/shopOffers}}
{{>product/recall}}
{{>product/characteristics}}
