<div class="recallProduct">
    <h4 style="color:{{product.colorBackground}}">{{product.nameProduct}}</h4>
    <div class="shortProduct">
        <img class="materialboxed" src="{{product.photoURL}}" alt="" >
        {{>reviews/reviewsStars}}
    </div>
    <hr style="width: 90vw;"/>
    {{>reviews/listReviews}}
</div>