<div><a id="btnRegistration" href="/authorization/registration">зарегестрироваться</a></div>
{{#if error}}
    <div id="authorizationError">{{error}}</div>
{{/if}}
<input placeholder="Логин"
       name="email"
       type="text"
       class="validate{{#if emailStatus}} invalid{{/if}}"
       value="{{email}}"
       required
       autocomplete="on"
       style="font-size: 20px; margin-bottom: 30px;"
       onclick="authorizationErrorDisplayNone()">
<input placeholder="Пароль"
       name="password"
       type="password"
       class="validate{{#if resetPassword}} invalid{{/if}}"
       value="{{password}}"
       required
       autocomplete="on"
       style="font-size: 20px;margin-bottom: 30px"
       onclick="authorizationErrorDisplayNone(event)">
<button type="submit" class="btn">войти</button>
{{#if resetPassword}}
    <div><a id="resetPassword" href="/authorization/resetAccount">
            Восстановть пароль</a></div>
{{/if}}

