<div><a id="btnRegistration" href="/authorization/registration">зарегестрироваться</a></div>
{{#if error}}
    <div id="authorizationError">{{error}}</div>
{{/if}}
<div><input placeholder="Логин"
       name="email"
       type="text"
       class="{{#if emailStatus}} invalid{{/if}}"
       value="{{email}}"
       autocomplete="on"
       style="font-size: 20px; margin-bottom: 30px;"
       onclick="authorizationErrorDisplayNone()">
    <div class="prompt"></div></div>
<div><input placeholder="Пароль"
       name="password"
       type="password"
       class="{{#if resetPassword}} invalid{{/if}}"
       value="{{password}}"
       autocomplete="on"
       style="font-size: 20px;margin-bottom: 30px"
       onclick="authorizationErrorDisplayNone(event)">
<div class="prompt"></div></div>
<button type="submit" class="btn">войти</button>
{{#if resetPassword}}
    <div><a id="resetPassword" href="/authorization/resetAccount?email={{email}}">
            Восстановть пароль</a></div>
{{/if}}

