.recall{display: flex;}
.recall h3{margin: 0 0 20px 0;}
.recall strong{
    font-size: 35px;
    color:var(--truly-black);}
.recallInf{
    width: 75%;
    padding: 20px;}
.recallList{
    padding: 10px;
    border-top: 1px solid var(--charcoal);
    border-bottom: 1px solid var(--charcoal);}
.recallUser{
    display: flex;
    flex-wrap: wrap;}
.photoRecall{
    width: 50px;
    min-width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;}
.recallUser img{width: inherit;}
.recallUser strong{
    font-weight: 700;
    width: 150px;
    font-size: 18px;}
.recallUser span{
    margin-left: 5px;
    color: var(--green-medium);
    font-size: 15px;
    font-weight: 700;}
.starsRecall{
    min-width:max-content;
    user-select: none;
    text-align: center;
    display: flex;
    align-items: center;}
.starsRecall span{
    margin: 0;
    font-size: 1.3rem;}
.messageRecall{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid var(--pink-medium);
    border-bottom: 5px solid var(--pink-medium);
    transition: .4s linear}
.messageRecall:hover{
    border-color: var(--green-medium);
    transition: .2s linear}
.messageRecall .photoRecall{
    width: 100%;
    min-width: 150px;
    height: 400px;
    min-height: 100px;
    margin-right: 0;
    border-radius: 25px;}
.infRecall{margin-top: 10px;}
.infRecall p{white-space:normal}
.dateRecall{
    display: contents;
    margin-bottom: 20px;}
.dateRecall b{
    margin: 0 5px;
    display: inline-flex;}
.likeRecall{
    text-align: right;
    margin-left: auto;
    cursor: pointer;
    user-select: none;}
.likeRecall span{
    margin-left:5px;
    font-size: 15px;}
.filterRecall{
    position: absolute;
    right: 0;
    margin-right: auto;
    width: 25%;
    padding: 15px;
    user-select: none;}
.filterRecall .btn{margin: auto 0;}
.filterRecall p{
    font-size: 18px;
    font-weight: 700;}
.messageRecall:hover i:first-child{
    color:var(--green-medium);
    transition: .2s linear}
.messageRecall:hover i:last-of-type{
    color: var(--pink-medium);
    transition: .2s linear}
.listStarsRecall{
    display: contents;
    min-width: 240px;
    cursor: pointer;}
.listStarsRecall a{font-size: 20px;}
@media (max-width: 1050px) {
    .filterRecall{
        position: initial;
        display: grid;
        justify-content: center;
        width: 100%;
    }
    .recallInf{width: 100%;}
}