.shop{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid var(--slateGray-light);
    border-bottom: 1px solid var(--slateGray-light);}
@media (max-width: 600px) {.shop{justify-content: space-around;}}
.shop i{user-select: none;}
.logoStore{
    min-width: 140px;
    width: 25%;
    height: 100px;
    text-align: center;
    user-select: none;}
.logoStore img{
    max-height: 40px;
    margin: 20px 0;
    user-select: none;}
.shopExtra{
    display:flex;
    align-items: center;
    justify-content: center;}
.shopExtra p{
    margin: 10px;
    font-size: 1rem;}