.orders{
    background: var(--indigo-light);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    height: max-content;
    min-width: 25rem;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: .4s linear;}
.orders span{
    font-size: 21px;
    font-weight: 700;
    margin: 20px 0 0;
    text-align: center;}
.orders li {font-size:17px;margin-left: 20px;}
.orders li::marker{color: var(--quartz);}
.orders .ordersProduct