.commentProduct .photoProduct{padding: 0;justify-content: center;}
.commentProduct .price{text-align: center;margin-top: 30px}
.commentProduct h5{text-align: center;font-weight: 700;user-select: none;}
.commentProduct .photoProduct img{max-height: 150px;margin-top: 0;object-fit: contain;}
.commentProduct h4{text-align: center}
.commentProduct ul, .commentProduct .btnProduct{display: none}
.commentInput{
    margin:  30px 5% 20px 5%;
    text-align: center;
    user-select: none;}
.commentInput input, textarea{color:var(--truly-black)}
.entryField{
    background: var(--indigo-full-light);
    border: 3px solid var(--aquamarine-dark);
    border-radius: 1rem;
    padding: 2rem 1rem 1rem;
    text-align: left;}