<div class="center" style="margin: 10px 0">
    <h3 class="left-align">Популярные бренды</h3>
    <div class="row center">
        {{#each brands}}
            <a class="col s12 m6 l3" href="{{link}}">
                <div class="card-panel hoverable brandsMy" style="background: {{backColor}};">
                    <img src="{{photoURL}}" alt="">
                </div>
            </a>
        {{/each}}
    </div>
</div>