<div class="center" style="margin: 10px 0">
    <div class="row center">
        {{#each brands}}
            <a class="col s3 m6 l3" href="/catalog/{{id}}/brand">
                <div class="flexCenter card-panel hoverable brandsMy" style="background: {{backColor}};">
                    <img src="{{photoURL}}" alt="">
                </div>
            </a>
        {{/each}}
    </div>
</div>