<div class="navbar-fixed">
    <nav style="width: 100vw;">
        <div class="nav-wrapper">
            <a href="{{link}}" class="brand-logo center" style="width: max-content;">{{title}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons" onclick="animationGradient(5)">menu</i></a>
        </div>
    </nav>
</div>
<ul class="sidenav navMy" id="mobile-demo" style="background:var(--slateGray-light);{{#if isAuth}}{{else}}justify-content: flex-start;{{/if}}">
    {{>navbar/navbar_logics}}
</ul>