<li {{#if catalog}}class="activeMy"{{/if}}><a href="/catalog">каталог</a></li>
<li {{#if favorites}}class="activeMy"{{/if}}><a href="/favorites">Избранные</a></li>
<li {{#if comparison}}class="activeMy"{{/if}}><a href="/comparison">Сравнения</a></li>
<li {{#if reviews}}class="activeMy"{{/if}}><a href="/reviews">Отзывы</a></li>
<li {{#if basket}}class="activeMy"{{/if}}><a href="/basket">Корзина</a></li>
<li {{#if privateOffice}}class="activeMy"{{/if}}><a href="/account">Профиль</a></li>
<li><a href="/entry/logout">Выход</a></li>