<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper navMy" >
            <a href="/" class="brand-logo center">New Market</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{>navbar/navbar_logics}}
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav navMy" id="mobile-demo" style="background: #929aab">
    {{>navbar/navbar_logics}}
</ul>