#catalog #lowercase, #catalog #bloc{width: 76%}
.productFork{
    display: flex;
    justify-content: space-between;
    width: 75%;}
.productFork li{
    width: 45%}
.productFork a{
    padding: 0;}
.productFork i{
    font-size: 30px;
    color: var(--indigo-medium)}
.productFork a:focus{
    color: var(--green-medium);}
.filteredProduct{
    position: static;
    width: 100%;
    min-width: 185px;
    padding: 0 2%}
.device{
    height: 25rem;
    margin: 10px auto;
    padding: 1.1rem;
    max-width: 60rem;
    max-height: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid var(--transparent-black);}
.filterImage{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;}
#lowercase .filterImage{
    width: 35%;
    margin: 0 auto}
.device .material-placeholder{
    height:20rem;
    margin-right: 10px;
    display:flex;
    align-items: center;
    justify-content: center;}
.filterImage img{
    max-height: 100%;
    user-select: none;
    -webkit-user-select:none;}
#catalog .filterImage img{
    max-width: 120%;
    object-fit: contain;}
#favorites .filterImage img{
    max-width: 120%;
    object-fit: contain;}
.description{
    height: max-content;
    width: 22rem;
    margin: 0 auto;
    padding:0 1.1rem;
    z-index: 10;}
@media (max-width: 550px){.description{width: 75%;}}
.description a{
    font-size: 22px;
    white-space: nowrap;
    color: var(--truly-black);
    font-weight: 700;
    transition: .4s linear}
.depiction{
    width: 100%;}
@media (max-width: 1300px) {
    #catalog .filteredProduct{
        width: 76%;
        position: absolute;
        left: 0;}  }
@media (max-width:650px) {
    #catalog .filteredProduct{width: 100%;}  }
@media (max-width: 900px) {  .device .material-placeholder{margin-right: 0}  }
.starProduct{
    width: 100%;
    margin:.5rem;}
.purchase{
    position: relative;
    left: -20%;
    width: 100%;}
.purchase i{
    position: static;
    bottom: 0;
    margin: 15px;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select:none;
    transition: .2s linear}
.purchase i:hover{
    color: var(--red-dark);
    transition: .2s linear}
.priceFilter{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    color: var(--graphite);
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;}
.priceFilter p{
    margin: 0;
    font-size: 1rem}
.messege {
    display: none;
    justify-content:center;
    width: 100vw;
    height: 100vh;
    background: #f8f6f0;
    position: fixed;
    overflow: hidden;
    z-index: 900;
    opacity: 0;}
.productFork .tabs .indicator{background-color: var(--indigo-dark);}
.productFork .tabs{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 25rem;
    height: 5rem;
    background: transparent;}
@media (max-width: 750px) {
    .productFork .tabs{width: 12rem;}}
.productFork .tabs .tab{margin-top:2rem;}
.productFork .tabs .tab a{padding:0;}