{{#if options}}
    <div id="typeProducts" class="typeTable">
        <div class="typeTytle flexCenter"><b>Тип</b></div>
        <div class="typeBody">
            {{#each options}}
                <a href="/{{#if @root.favorites}}favorites{{/if}}{{#if @root.compare}}compare{{/if}}/{{_id}}" class="typeProduct js-typeProduct" data-id="{{_id}}">
                    <i class="material-icons">{{classIco}}</i>
                    <b class="optionsText">{{className}}</b>
                </a>
            {{/each}}
        </div>
    </div>
{{/if}}