@media (prefers-color-scheme: light) {
    :root{
        --green-dark: #458e2f;
        --green-light: #0cb84a;
        --green-medium:#23ac17;
        --green-swampy:#49bb8a;
        --pink-medium: #e9897b;
        --red-medium: #f44336;
        --red-dark:#ff0000;
        --yellow-light: #f2f4c0;
        --aquamarine-light:#bfe5d2;
        --aquamarine-medium:#a9efcd;
        --aquamarine-dark:#7bbfa2;
        --aquamarine-dark-glass: #dbfff29e;
        --indigo-full-light:#f0f8ff;
        --indigo-full-light-full:#f0f8ff00;
        --indigo-light:#dee7f8;
        --indigo-light-full:#dee7f800;
        --indigo-medium:#bbbfca;
        --indigo-dark:#828491;
        --slateGray-light:#929aab;
        --navBar-color:#131f3a80;
        --slateGray-dark:#393e46;
        --crystalWhite:#ffffff;
        --hoverTable: #f4f4f4;
        --zircon:#eaeaea;
        --sandstone:rgba(192,192,192,0.5);
        --charcoal: rgba(100, 100, 100, 0.2);
        --gainsboro:#888888;
        --quartz: #474747;
        --graphite:#2b2b2b;
        --truly-black:#000000;
        --transparent-black:rgba(0,0,0,0.3);
        --black-white:#000;
        --white-black:#fff;
        --backgraund-color:#fff;
        --backgraund-color-opacity: #FFFFFFd9;
        --backgraund-color-opacity-full: #FFFFFF00;
        transition: color 1s linear;
    }
    html body{
        background: var(--backgraund-color);
        color:var(--black-white);
        transition: background .4s linear;
    }
}
@media (prefers-color-scheme: dark) {
    :root{
        --pink-medium: #b71600;
        --red-medium: #f44336;
        --red-dark: #ff0000;
        --yellow-light: #646b07;
        --aquamarine-light: #2b4031;
        --aquamarine-medium: #074027;
        --aquamarine-dark: #0f5138;
        --aquamarine-dark-glass: #0223179e;
        --green-dark: #b5e3a8;
        --green-light: #0cb84a;
        --green-medium: #23ac17;
        --green-swampy:#23691e;
        --indigo-full-light:#272727;
        --indigo-full-light-full:#27272700;
        --indigo-light: #494c52;
        --indigo-light-full:#494c5200;
        --indigo-medium: #777777;
        --indigo-dark: #6b6c77;
        --slateGray-light: #31353d;
        --slateGray-dark: #adb8cb;
        --navBar-color: #cecece7f;
        --crystalWhite: #ffffff;
        --hoverTable:#333333;
        --zircon: #3b3b3b;
        --sandstone: rgba(55,55, 55,.5);
        --charcoal: #92929291;
        --gainsboro: #888888;
        --quartz: #afafaf;
        --graphite: #cbcbcb;
        --truly-black: #e0e0e0;
        --transparent-black: #9a99997d;
        --black-white:#fff;
        --white-black:#000;
        --backgraund-color: #1d1d1d;
        --backgraund-color-opacity: #1d1d1dd9;
        --backgraund-color-opacity-full: #1d1d1d00;
        transition: color 1s linear;
    }
    html body{
        background: var(--backgraund-color);
        color:var(--black-white);
        transition: background .4s linear;
    }
}