.container :is(#lowercase,#bloc){width: 100%}
.container .filter{
    display: flow-root;
    left: 0;
    right: 0;
    bottom: -91%;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 998;
    transition: .4s cubic-bezier(0, 0.82, 0.84, 0.99);
}
.container .filter .collapsible-body{
    padding: 0 2rem 0 36%;
}
.container #filterMobile{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.6rem;
    display: flex;
    align-items: center;
    width: max-content;
    height: 50px;
    margin: auto;
    padding: 5px;
    border: 1px solid #717171;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1.5rem;
    background: #e5e9f5;
    z-index: 997;
    transition: .4s cubic-bezier(0, 0.82, 0.84, 0.99);
}
