.nav-wrapper{padding: 0 20px;}
.navMy a{
    text-transform: uppercase;
    text-align: center;
    color:#f7f7f7
}
.navMy{
    background: #929aab
}
.navMy li:hover {
    background: #f2f4c0
}
.navMy li:hover a{
    color: #474747
}
.activeMy {background-color: #bbbfca}
.activeMy a{color: #f2f4c0}
