.filter::-webkit-scrollbar {display:none}
::selection{
    background: #929aab;
    color: #f2f4c0;}
@media (max-width: 1300px) {
    body .container{
        width: 100%;
    }
}
body::-webkit-scrollbar {display:none}
h3  {padding-left: 100px;
    user-select: none;}
/*//////////////////////////////*/
/*//////NAVBAR//////////////////*/
/*//////////////////////////////*/
.nav-wrapper{padding: 0 20px;}
.navMy a{
    text-transform: uppercase;
    text-align: center;
    color:#f7f7f7
}
.navMy{
    background: #929aab
}
.navMy li:hover {
    background: #f2f4c0
}
.navMy li:hover a{
    color: #474747
}
.navMy .user-view{
    margin: 0;
}
.avatar{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 10px;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;}
.avatar img{
    width: 100%;
    height: fit-content;
}
.activeMy {background-color: #bbbfca}
.activeMy a{color: #f2f4c0}
/*//////////////////////////////*/
/*/////CAROUSEL/////////////////*/
/*//////////////////////////////*/
.btnShift{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: .4s linear;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;}
.btnShift i{
    font-size: 35px;
    color: #474747;}
.btnShift:hover{
    background-color: rgba(192, 192, 192, .5);
    transition: .4s linear;}
.btnShift:first-child{left: 0;}
.btnShift:last-child{right: 0;}
.infCarousel {
    width: 50%;
    margin: auto;
    transition: .4s linear;
}
.infCarousel:hover{
    background-color: rgba(105, 105, 105, 0.15);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    transition: .4s linear;
}
.infCarousel h4{
    white-space: nowrap;
    margin: 20px 0;
}
.container h6{font-size:20px;}
.infCarousel a{
    margin-top: 30px;
    color: #2b2b2b;
    border-radius: 5px;
}
.infCarousel a:hover {background: #393e46;}
#cardMy{
    padding: 0 10px;
    border-radius: 30px;
    height: 200px;
    overflow: hidden;
    user-select: none;
}
#cardMy:hover img{
    transform: translateY(-50px) scale(.6, .6);
    transition: .4s cubic-bezier(0.68, 0.29, 0.4, 0.86);
}
#cardMy h5{margin: 10px;}
.imageTop{
    display:flex;
    justify-content: center;
}
#cardMy img{
    height: 300px;
    transition: .4s cubic-bezier(0.68, 0.29, 0.4, 0.86);
}
.row .card-panel{
    padding: 20px 10px;
    border-radius: 10px;
    height: 100px;}
.brandsMy img{
    max-width: 100%;
    max-height: 100%;}
/*//////////////////////////////*/
.filter{
    position: fixed;
    overflow-y: scroll;
    width: 18%;
    min-width: 185px;
    height: 93%;
    right: 15%;
    z-index: 100}

.filter .collapsible{margin: 0;}
.options{
    height: 100%;
    background-color: #e9f0ff;
    transition: .4s linear}
.options:hover{
     background-color: #eaeaea;
     transition: .4s linear }
.options>.collapsible-header{
    background-color: #e5e9f5;
    font-size: 18px;
    white-space: normal;
}
.options>.collapsible-header:hover{color: #eaeaea;}
.collapsible-header>span{background-color: #929aab;}
.collapsible-header:hover{
    background-color: #8f8f8f;
    transition: .4s linear}
.collapsible-header>i{
    color: #888888;
    transition: .3s linear}
.collapsible-header:hover i{
    color: #ffffff;
    transition: .2s linear}
.options .collapsible-body{
    padding: 0 2rem;
    font-size: 15px;}
.options .collapsible-body .optionsText{font-size: 15px;}
.optionsText:hover{color: #1dac00;}
@media (max-width: 1300px) {
    .filter{
        width: 25%;
        right: 0;}
}
/*//////////////////////////////*/
/*/////FILTERED_PRODUCT/////////*/
/*//////////////////////////////*/
.productFork{
    width: 100%;
    padding: 0 30%}
.productFork li{
    width: 45%}
.productFork a{
    padding: 0;}
.productFork i{
    font-size: 25px;
    color: #929aab;}
.productFork a:focus{
    color: #1dac00;
}
.filteredProduct{
    position: static;
    width: 100%;
    min-width: 185px;}
.device{
    margin: 10px;
    padding: 20px;
    width: 97%;
    height: 280px;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);}
.filterImage{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;}
.device .material-placeholder{
    height: 250px;
    margin-right: 10px;
    display:flex;
    align-items: center;
    justify-content: center; }
.filterImage img{
    max-height: 100%;
    max-width: 170px;}
.description{
    height: inherit;
    width: 65%;
    padding: 20px;
    z-index: 10;}
.description a{
    font-size: 22px;
    white-space: nowrap;
    color: #000;
    font-weight: 700;
    transition: .4s linear}
.description a:hover{
    color: #929aab;
    transition: .4s linear}
ul{white-space: nowrap}
@media (max-width: 1300px) {
    .filteredProduct{
        width: inherit;
        position: absolute;
        left: 0;}
}
@media (max-width: 900px) {
    .device .material-placeholder{margin-right: 0}
}
.purchase{
    display: flex;
    width: 100%;}
.purchase i{
    position: static;
    bottom: 0;
    margin: 15px;
    font-size: 28px;
    cursor: pointer;
    transition: .2s linear}
.purchase i:hover{
    color: #f00;
    transition: .2s linear}
.priceFilter{
    margin-left: auto;
    display:flex;
    align-items: center;
    color: #222;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;}
/*//////////////////////////////*/
/*/////PRODUCT//////////////////*/
/*//////////////////////////////*/
.product{display: flex}
.photoProduct{
    width: 45%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top:10px;
    margin-left:10px;
    user-select: none;}
.photoProduct img{
    max-height: 600px;
    max-width: 400px;
    margin-top: 40px;
    animation-name: lineeLeft;
    animation-duration:2s;
    animation-fill-mode: forwards;}
.descriptionProduct{
    width: 55%;
    padding: 30px;
    animation-name: lineeRight;
    animation-duration:2s;
    animation-fill-mode: forwards;}
.descriptionProduct h4{font-weight: 700;}
.descriptionProduct i{
    margin: 20px;
    font-size: 25px;
    transition: .2s linear}
.descriptionProduct i:hover{
    color: #f00;
    transition: .2s linear}
.descriptionProduct .price{
    font-weight: 700;
    text-align: center;}
.descriptionProduct .centerMy{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;}
.descriptionProduct .btnProduct{
    font-size: 16px;
    font-weight: 700;}
.product li {
    list-style-type: initial;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 500;}
.product li span{color: #000000;}
/*//////////////////////////////*/
/*/////////ANIMATIONS///////////*/
/*//////////////////////////////*/
@keyframes lineeLeft{
    0%  {opacity:0;transform: translateX(-200px);}
    100%{opacity:1;transform: translateX(0);}
}
@keyframes lineeRight{
    0%  {opacity:0;transform: translateX(200px);}
    100%{opacity:1;transform: translateX(0);}
}
@keyframes lineeTop{
    0%  {opacity:0;transform: translateY(-200px);}
    100%{opacity:1;transform: translateY(0);}
}
@keyframes opacityMy{
    0%  {opacity:0}
    100%{opacity:1}
}
/*//////////////////////////////*/
/*/////////SHOP/////////////////*/
/*//////////////////////////////*/
.shop{
    display: flex;
    padding: 20px;
    border-top: 1px solid rgba(100,100,100,0.2);
    border-bottom: 1px solid rgba(100,100,100,0.2);}
.shop i{user-select: none;}
.logoStore{
    min-width: 140px;
    width: 25%;
    height: 100px;
    text-align: center;
    user-select: none;}
.logoStore img{
    max-height: 40px;
    margin: 20px 0;
    user-select: none;}
.shopExtra{
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;}
.shopExtra p{
    margin: 10px;
    font-size: 18px;}
/*//////////////////////////////*/
/*///////RECALL/////////////////*/
/*//////////////////////////////*/
.recall{display: flex;}
.recall h3{margin: 0 0 20px 0;}
.recall strong{
    font-size: 35px;
    color:rgba(0,0,0,0.5);}
.recallInf{
    width: 75%;
    padding: 20px;}
.recallList{
    min-width: 480px;
    padding: 10px;
    border-top: 1px solid rgba(100,100,100,0.2);
    border-bottom: 1px solid rgba(100,100,100,0.2);}
.recallUser{ display: flex;}
.photoRecall{
    width: 50px;
    min-width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;}
.recallUser img{width: inherit;}
.recallUser strong{
    font-weight: 700;
    width: 150px;
    font-size: 18px;}
.recallUser span{
    margin-left: 5px;
    color: #29ad2e;
    font-size: 15px;
    font-weight: 700;}
.starsRecall{
    min-width:140px;
    margin-left: auto;
    user-select: none;}
.messageRecall{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ee6e73;
    border-bottom: 5px solid #ee6e73;
    transition: .4s linear}
.messageRecall:hover{
    border-color: #29ad2e;
    transition: .2s linear}
.messageRecall .photoRecall{
    width: 600px;
    min-width: 150px;
    height: 400px;
    min-height: 100px;
    margin-right: 0;
    border-radius: 25px;}
.infRecall{margin-top: 10px;}
.infRecall p{white-space:normal}
.dateRecall{
    display: flex;
    margin-bottom: 20px;}
.dateRecall b{margin: 0 5px;}
.likeRecall{
    margin-left: auto;
    cursor: pointer;
    user-select: none;}
.likeRecall span{
    margin-left:5px;
    font-size: 15px;}
.filterRecall{
    position: absolute;
    right: 0;
    margin-right: auto;
    width: 25%;
    padding: 15px;
    user-select: none;}
.filterRecall .btn{margin: auto 0;}
.filterRecall p{
    font-size: 18px;
    font-weight: 700;}
.messageRecall:hover i:first-child{
    color:#29ad2e;
    transition: .2s linear}
.messageRecall:hover i:last-of-type{
    color: #ee6e73;
    transition: .2s linear}
.listStarsRecall{
    display: contents;
    min-width: 240px;
    cursor: pointer;}
.listStarsRecall a{font-size: 20px;}
@media (max-width: 1050px) {
    .filterRecall{
        position: initial;
        display: grid;
        justify-content: center;
        width: 100%;
        }
        .recallInf{width: 100%;}
    }
/*//////////////////////////////*/
/*///////CHARACTERISTICS////////*/
/*//////////////////////////////*/
.characteristics{
    margin: 0 50px 50px;
    border-bottom:1px solid rgba(100,100,100,0.2);}
.characteristics p{
    font-size: 18px;
    font-weight: 700;
    margin: 0;}
.parameter{
    display: flex;
    margin: 20px 0;}
.parameter p{
    font-weight: normal;
    font-size: 16px;}
.points {
    height: 18px;
    margin: 0 8px;
    background: linear-gradient(90deg, #989898 33%,transparent 0) repeat-x bottom;
    background-size: 3px 1px;
    flex-grow: 1;}
.value{width: 50%;}
/*//////////////////////////////*/
/*//////COMMENT/////////////////*/
/*//////////////////////////////*/
.commentProduct .centerMy, .centerMy{display: none}
.commentProduct .photoProduct{padding: 0;justify-content: flex-end;}
.commentProduct .price{text-align: left;margin-top: 30px}
.commentProduct h5{text-align: center;font-weight: 700;user-select: none;}
.commentProduct img{max-height: 150px;margin-top: 0}
.commentProduct ul{display: none}
.commentInput{
    margin:  30px 15% 20px 15%;
    text-align: center;
    cursor: pointer;
    user-select: none;}
/*//////////////////////////////*/
/*//////BRAND///////////////////*/
/*//////////////////////////////*/
.brandLogo{
    width: 100%;
    height: 150px;
    padding: 20px 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: lineeTop;
    animation-duration:1s;
    animation-fill-mode: forwards;}
.brandTypes h3{display: none}
.productGrid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.productGrid img{
    max-height: 100%;
    max-width: 700px;
}
.productObject{
    display: block;
    text-align: center;
    min-width: 200px;
    max-width: 700px;
    height: 350px;
    margin: 15px;
    padding: 10px;
    border: 1px solid rgba(100,100,100,0.2);
    border-radius: 15px;
    overflow: hidden;
}
.productPhoto{
    display: flex;
    justify-content: center;
    height: 80%;
}
.productObject div{height: 80%;}
.productObject p{
    margin: 0;
    font-size: 20px;
    color: #474747}
/*//////////////////////////////*/
/*//////TABLE_PRODUCTS//////////*/
/*//////////////////////////////*/
.typeTable{
    position: absolute;
    z-index: 100;
    top: 150px;
    left: 0;
    right: 0;
    width: 250px;
    margin: 0 auto;
    user-select: none;
    border-radius: 10px;
    background: #e9f0ff;
    overflow: hidden;
}
.typeTable .typeTytle{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
}
.typeTable .typeTytle:hover {
    background-color: #8f8f8f;
    transition: .4s linear;}
.typeTable .typeTytle b{
    font-size: 18px;
}
.typeTable .typeBody{
    height: 0;
    transition: .2s linear;
}
.typeTable:hover .typeBody{
    height: 210px;
    transition: .2s linear;
}
.typeProduct{
    height: 35px;
    padding: 5px 0;
    display: flex;
    cursor: pointer;
    transition: .2s linear}
.typeProduct i{margin: 0 5% 0 25%;}
.typeProduct:hover{
    background: #bfe5d2;
    transition: .3s linear}
.typeProduct:hover b{color:#1dac00;}
.typeProduct:hover i{color:#1dac00;}
.typeTable .collapsible-body{
    display: none;
    transition: .4s linear;
}
/*//////////////////////////////*/
/*//////COMPARISON//////////////*/
/*//////////////////////////////*/
.comparison{display: flex;}
.comparison .comparisonProduct{width: 50%;}
.btnShiftComparison{
    position:absolute;
    height: 20%;
    border-radius: 20px;}
.parameterSlider{
    margin: 15px 0;
    overflow:hidden;
    transition: .4s linear;}
.parameterSlider p{
    margin: 0;
    font-size: 18px;
    font-weight: 500}
.parameterSlider:hover{
    background: #e9e9e9;
    border-radius: 20px;
    transition: .4s linear;}
.comparisonOne .slider .item .parameterSlider{padding-left: 50px; text-align: left;}
.comparisonTwo .slider .item .parameterSlider{padding-right: 50px; text-align: right;}
/*//////////////////////////////*/
/*//////SLIDER//////////////////*/
/*//////////////////////////////*/
.slider{
    width: 100%;
    position: relative;
    margin: auto;
    height: 300px;}
.photoSlider{
    height: 200px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;}
.photoSlider img{
    max-width: 100%;
    max-height: 15vh;}
.slider .item {animation-duration: 2s;}
/*//////////////////////////////*/
/*//////REVIEWS//////////////////*/
/*//////////////////////////////*/
.reviews .collapsible-header{
    padding: 1rem 6rem;}
.titleReviews{
    font-size: 22px;
    font-weight: 600;}
.reviews .collapsible-header:hover .titleReviews{color:#fff;}
.reviews .edit{margin-left: 5%;}
.reviews a{color: #888888}
/*//////////////////////////////*/
/*//////BASKET//////////////////*/
/*//////////////////////////////*/
.tableBasket td{
    color:#393e46;
    font-size: 16px;
    font-weight: 500;
}
.tableBasket tr:hover td{
    background: rgba(160, 160, 160, 0.5);
    color: #fdfdfd;}
.tableBasket td:first-child{text-align: initial;}
.tableBasket a{color:#393e46; margin-left: 35%}
.tableBasket tr:hover a{color: #fdfdfd;}
.tableBasket .clear{
    border-radius: 50%;
    transition: .4s linear;}
.tableBasket .clear:hover{
    background: rgba(255, 66, 66, 0.8);
    transition: .4s linear;
    cursor: pointer;}
.quantity{
    user-select: none;
    font-size: 18px;
    margin: auto;
    width: max-content;
    border: 1px solid rgba(100,100,100,0.2);
    border-radius: 15px;}
.tableBasket tr:hover .quantity{border: 1px solid #d7d7d7;}
.quantity i{
    font-weight: 700;
    margin: 10px;
    border: 0;
    background: none;
    border-radius: 15px;}
.basketPrice{
    margin: 30px auto;
    padding: 15px;
    border-radius: 17px;
    border:1px solid rgba(177, 177, 177, 0.2);
    width: max-content;
    text-align: center;
    font-size: 18px;
    transition: .4s linear;
}
.basketPrice:hover{
    background: #e8e9ff;
    transition: .4s linear;
}
.basketPrice button{
    margin-top: 10px;
    background: #bbbfca;
    color: #f2f4c0;
    border-radius: 10px;
}
.basketPrice button:hover{
    background: #828491;
}
/*//////////////////////////////*/
/*//////ACCOUNT/////////////////*/
/*//////////////////////////////*/
.persanalInfo{text-align: center;}
.persanalInfo .editAccount{
    position: relative;
    top: 20px;
    left: 45%;
    font-size: 30px;
    border-radius: 5px;
    cursor: default;}
.photoAccount{
    width: 150px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px auto 10px;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;}
.photoAccount img{
    width: 100%;
    height: fit-content;}
.infoAccount{
    text-align: center;
    font-weight: 100;
    width: max-content;
    margin: auto;
    user-select: none;}
.exitAccount{
    margin: 20px auto 0;
    width: max-content;}
.exitAccount a{
    color: #393e46;
    background: #dee7f8;
    font-size: 24px;
    font-weight: 100;
    border-radius: 10px;
    padding: 3px 8px;
}
.exitAccount a:hover, .editAccount:hover, .orders:hover{
    background: #f2f4c0;
    transition: .4s linear;
}
/*//////////////////////////////*/
/*//////ORDERS//////////////////*/
/*//////////////////////////////*/
.orders{
    background: #dee7f8;
    display: grid;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}
.orders span{
    font-size: 21px;
    font-weight: 100;
    margin: 20px 0 0;
    text-align: left;
}
.orders li {font-size:17px;margin-left: 20px;}
.orders li::marker{color: #544d4d;}
